* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container {
  align-items: center;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  text-align: center;
  width: 650px;
}

.container-form-display {
  align-items: center;
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 550px;
}

.form-details,
.form-display {
  width: 275px;
  height: 450px;
  border: solid 1px blue;
}

.form-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}

.control-details {
    display: block;
    padding: 5px 0;
}

.control-details label,input,select{
    margin-left: 35px;
    display: inline-block;
}

.control-details input,select {
    width: 200px;
}
